variables:
  DOCKER_DRIVER: overlay2

stages:
  - build_static
  - build
  - deploy

build_scivi_static:
  image: node:18
  stage: build_static
  cache:
    key: "static-npm"
    paths:
      - cgraph/node_modules
  before_script:
    - cd client
    - npm ci
    - cd ..
  script:
    - NODE_ENV=production make
  artifacts:
    paths:
      - client/lib
      - kb
    expire_in: 1 day

build_image:
  stage: build
  image: dem0n3d/docker-compose
  before_script:
    - docker info
  script:
    - docker login -u gitlab-ci-token -p $CI_BUILD_TOKEN docker.semograph.com
    - docker-compose -f docker-compose.prod.yml build --pull
    - docker push docker.semograph.com/semograph/scivi/app:${CI_COMMIT_REF_NAME}
  dependencies:
    - build_scivi_static
  only:
    - master

deploy_prod:
  stage: deploy
  image: docker:latest
  variables:
    DOCKER_HOST: tcp://10.0.6.2:2376
  script:
    - docker login -u gitlab-ci-token -p $CI_BUILD_TOKEN docker.semograph.com
    - docker stack deploy -c docker-compose.prod.yml scivi --with-registry-auth
  only:
    - master
